#page           { text-align: center; color: white;}
body            {background-color: #395f73; }
footer          {margin-bottom: 0; margin-top: 5em; text-align: center;}
button          {cursor: pointer; font-size: 3em; margin-top: 20px; margin-right: 25px; margin-left: 25px; padding: 0.2em; 
    color:white; background-color: #202020; border: none;}
button:hover    { background-color: #505050;}
button:focus    {outline: 0;}
audio           {position: absolute; margin-top: -50px; z-index: 100; margin-left: auto; 
    margin-right: auto; left: 0; right: 0;opacity: 0.7;}
a               {color:white;}
a:visited       {color: white;}
#numbertext     {color: white; position: absolute; margin-bottom: -20px; z-index: 100; margin-left: auto; 
    margin-right: auto; left: 0; right: 0;}
#page           {width: 900px; margin: 0 auto;}
#prev           {padding-right:20px; position: relative}
#next           {padding-left:20px;}
#slideshow      {position: relative;}