
.film-introduction-wrapper {
    background: url('../img/film/back.jpg');
    width: 100%;
    height: 600px;
}

.film-introduction {
    padding-left: 3%;
    padding-top: 5%;
    width: 30%;
    font-size: 14pt;
    text-transform: uppercase;
}

.film-introduction > * {
    text-align: center;
    color: white;
}

.image-display-wrapper {
    width: 100%;
}

.images-container {
    text-align: center;
    background-color: #f05f40;
    padding: 25px;
}

.image-display {
    text-align: center;
    display: block;
    background-color: #395f73;
    padding: 10px;
    color: white;
}

.image-display > hr {
    width: 30%;
    color: white;
    border-color: white;
}



.current-image {
    width: 100%;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.current-image-container {
    display: inline-block;
    width: 20%;
    padding: 20px;
    text-align: left;
}

.current-image-text-container {
    margin-top: 10%;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.imdbRatingPlugin, .imdbRatingPlugin a {
    color: white;
    background-color: #395f73;
}

.current-image-text {
    display: inline;
}

.current-image-text > hr {
    color: white;
    width: 50%;
    border-color: white;
}

.image {
    width: 7%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: solid 1px black;
    outline-offset: -1px;

    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000
}

.chosen-image {
    outline: solid 3px white;
    outline-offset: -3px;
}

.image:hover {
    cursor: pointer;
}

footer{
  display: none;
}
