
.film-introduction-wrapper {
    background: url('../img/film/background2.jpg');
    width: 100%;
    height: 600px;
}

.film-introduction {
    padding-left: 10%;
    padding-top: 10%;
    width: 25%;
    font-size: 14pt;
}

.film-introduction > * {
    text-align: center;
    color: white;
}

.image-display-wrapper {
    width: 100%;
}

.images-container {
    text-align: center;
    background-color: #f05f40;
    padding: 25px;
}

.image-display {
    text-align: center;
    display: block;
    background-color: #395f73;
    padding: 10px;
    color: white;
}

.image-display > hr {
    width: 30%;
    color: white;
    border-color: white;
}



.current-image {
    width: 100%;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.current-image-container {
    display: inline-block;
    width: 20%;
    padding: 20px;
    text-align: left;
}

.current-image-text-container {
    margin-top: 10%;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.imdbRatingPlugin, .imdbRatingPlugin a {
    color: white;
    background-color: #395f73;
}

.current-image-text {
    display: inline;
}

.current-image-text > hr {
    color: white;
    width: 50%;
    border-color: white;
}

.image {
    width: 7%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: solid 1px black;
    outline-offset: -1px;

    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000
}

.chosen-image {
    outline: solid 3px white;
    outline-offset: -3px;
}

.image:hover {
    cursor: pointer;
}

.armor-container{
    color: white;
    background-color:  #364850;
    text-align: center;
    padding: 50px;
}

.btn{
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 10%;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
    color: white;
    background-color: #f05f40;
    margin-bottom: 30px;
}

.next {
    border-radius: 0 300px 300px 0;
}
.previous {
    border-radius: 300px 0 0 300px;
}


.btn:hover {
    background-color: #c35033;
}
.btn::selection {
    background: none;
}

