
    /*------------- TABLE OF CONTENTS ------------------ */
    /*--------- CH1 GENERIC ---------*/
    /*--------- CH2 HEADER ---------*/
    /*--------- CH3 NAVIGATION ---------*/
    /*--------- CH4 MAIN ---------*/
    /*--------- CH5 FOOTER ---------*/



    /*--------------- CH1 GENERIC --------*/
    header h1 {
        color: white;
    }

    header a{
      text-decoration: none;
      color: white;
      font-size: 14pt;
      border: 0;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500px;
    }


    body{
      margin: 0px;
      padding: 0px;
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

        font-weight: bold;
        text-align: center;
    }

    .wrapper > * {
        flex: 1 100%;
    }

    .section1{
        padding-top: 40px;
        padding-bottom: 40px;
        bottom: 0px;
        width: 100%;
        text-align: center;
        height: 300px;
        background-color: #f05f40;
        color: white;
    }

    .section2{
        padding-top: 40px;
        padding-bottom: 40px;
        bottom: 0px;
        width: 100%;
        text-align: center;
        height: 300px;
        background-color: #fff;
        color: #222222;
    }

    .section3{
        padding-top: 40px;
        padding-bottom: 40px;
        bottom: 0px;
        width: 100%;
        text-align: center;
        height: 300px;
        background-color: #222222;
        color: white;
    }

    .btn {
        cursor: pointer;
        margin: 0 auto;
        width: 15%;
        border: 0;
        border-radius: 300px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px 30px;
        border-color: #fff;
        color: #222;
        background-color: #fff;
        margin: 1em;
    }

    .btn:hover {
        background-color: #ccc;
    }

    .btn-inverted {
        border-color: #222;
        color: #fff;
        background-color: #222;
    }

    .btn-inverted:hover {
        background-color: darkgrey;
    }

    input[type=text]{
        margin: 0 auto;
        width: 15%;
        border: 0;
        border-radius: 300px;
        text-decoration: none;
        font-weight: 700;
        padding: 15px 30px;
        border-color: #fff;
        color: #222;
        background-color: #fff;
        margin: 1em;
    }

    .list-unstyled{
        list-style: none;
    }

    /*--------------- CH2 HEADER --------*/
    .header {
        background: #364850;
    }


    /*--------------- CH3 NAVIGATION --------*/
    .navbar {
        display:flex;
        justify-content: center;
    }
    .nav-container {
        display: flex;
        text-align: center;
        justify-content: center;
        padding:0;
        width: 100%;
        margin-bottom: 0;
    }


    .flex-item {
        width: 14%;
        padding: 2em;
        background-color: #67727A;
        list-style: none;
        font-size: 16px;
        color: #262626;
    }
    
    .flex-item:hover{
        background-color: #f05f40;
    }
    
    .hidden{
        display: none;
    }

    .active{
        display: block;
    }


    /*--------------- CH4 MAIN --------*/

    main {
        text-align: left;
        margin: 0px;
    }



    /*--------------- CH5 FOOTER --------*/

    .footer {
        background: lightgreen;
    }
