
    /*------------- TABLE OF CONTENTS ------------------ */
    /*--------- CH1 GENERIC ---------*/
    /*--------- CH2 HEADER ---------*/
    /*--------- CH3 NAVIGATION ---------*/
    /*--------- CH4 MAIN ---------*/
    /*--------- CH5 FOOTER ---------*/



    /*--------------- CH1 GENERIC --------*/
    header a{
      color: #d8d8d8;
      text-decoration: none;
      color: white;
      font-size: 12pt;
      border: 0;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500px;
    }


    body{
      margin: 0px;
      height: 100%
      padding: 0px;
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }



    .wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        text-align: center;
    }

    .wrapper > * {
        flex: 1 100%;
    }


    /*--------------- CH3 NAVIGATION --------*/
    .navbar {
        display:flex;
        justify-content: center;
    }
    .nav-container {
        display: flex;
        text-align: center;
        justify-content: center;
        padding:0;
        width: 100%;
        padding-left: 7%;
        padding-right: 7%;
        background-color: #f05f40;
        margin: 0;
    }

    .flex-item {
        width: 14%;
        height: 65px;
        line-height: 65px;
        list-style: none;
        font-size: 16px;
        color: #262626;
        border-bottom: 1px solid #f05f40;

    }

    .flex-item:hover{
        border-bottom: 1px solid white;
    }

    .hidden{
        display: none;
    }

    .active{
        display: block;
    }

    .flex-item a{
      display: block;
      height: 100%;
    }

    /*--------------- CH4 MAIN --------*/

    main {
        text-align: left;
        margin: 0px;
    }



    /*--------------- CH5 FOOTER --------*/



    footer {
      background-color: #f05f40;
      text-align: center;
      bottom: 0px;
      color: white;
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-size: 10pt;
      overflow: hidden;
    }

    .social_images{
        width: 30px;
        height: 30px;
    }

    .follow_us{
        font-size: 12pt;
        float: right;
        padding-right: 70px;
        margin: 0px;
        padding-top: 10px;
    }

    #phrase_div{
      padding-left: 10%;
      text-align: center;
    }
