
    /*------------- TABLE OF CONTENTS ------------------ */
    /*--------- CH1 GENERIC ---------*/
    /*--------- CH2 HEADER ---------*/
    /*--------- CH3 NAVIGATION ---------*/
    /*--------- CH4 MAIN ---------*/
    /*--------- CH5 FOOTER ---------*/



    /*--------------- CH1 GENERIC --------*/
    header {

    }


    header a{
      color: #d8d8d8;
      text-decoration: none;
      color: white;
      font-size: 12pt;
      border: 0;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500px;
    }


    body{
      margin: 0px;
      padding: 0px;
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }


    .wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center;
    }

    .wrapper > * {
        flex: 1 100%;
    }


    /*--------------- CH3 NAVIGATION --------*/
    .navbar {
        display:flex;
        justify-content: center;
    }
    .nav-container {
        display: flex;
        text-align: center;
        justify-content: center;
        padding:0;
        width: 100%;
        margin: 0;
    }

    .flex-item {
        width: 14%;
        height: 50px;
        padding-top: 20px;
        background-color: #f05f40;
        list-style: none;
        font-size: 16px;
        color: #262626;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
    }

    .flex-item:hover{
        background-color: #fd9c87;
    }
    
    .hidden{
        display: none;
    }

    .active{
        display: block;
    }


    /*--------------- CH4 MAIN --------*/

    main {
        text-align: left;
        margin: 0px;
    }



    /*--------------- CH5 FOOTER --------*/

    .footer {
        background-color: #f05f40;
        height: 80px;
    }

    .footer p{
      margin-top: 30px;
    }
