<!DOCTYPE html>
<html lang="en">
  <head> <% include ejs/partials/head.ejs %> </head>
  <body>
  <div class="wrapper">
    <% include ejs/partials/header.ejs%>

    <h2> You are here "<%= route %>" </h2>

    <main>  </main>

    <% include ejs/partials/footer.ejs%>
  </div>
  </body>
</html>
