<!DOCTYPE html>
<html lang="en">
  <head> <% include ejs/partials/head.ejs %> </head>
  <body>
  <div class="wrapper">
    <% include ejs/partials/header.ejs %>

    <% var path = "ejs/partials/" + route + ".ejs" %>

    <main>  <%- include(path) %> </main>

    <footer class="footer"> <% include ejs/partials/footer.ejs %> </footer>

  </div>
  </body>
</html>
