<!DOCTYPE html>
<html lang="en">
  <head> <% include partials/head.ejs %> </head>
  <body>
    <% include partials/header.ejs %>
    <h2> You are here "<%= route %>" </h2>

    <% include partials/footer.ejs %>
    <% include partials/jslinks.ejs %>
  </body>
</html>
