<link rel="stylesheet" type="text/css" href="css/art_style.css">
<script type="text/javascript" src="js/art.js"></script>

<div id="page">
  <h1 > Royalty-Free Art</h1>
  <h3>Take a moment to relax with some great images of nature set to music.</h3>
  <div class="slideshow">
    <div id="numbertext">1 / 5</div>
    <img src="img/art/pexels1.jpeg" id="slide" alt="Lovely pictures" style="width: 100%; border-radius: 10px;">
    <div id="audioplayer">
    <audio controls preload='auto' loop>
      <source src="music/bensound-betterdays.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    </div>
    <button id="prev">&#10094;</button>
    <button id="next">&#10095;</button>
  </div>

<footer>
<p>All images licenced under CC0, courtesy of <a href="http://www.pexels.com">www.pexels.com</a>, music by <a href="http://www.bensound.com">www.bensound.com</a>.</p>
</footer>
</div>

