<link rel="stylesheet" type="text/css" href="css/beer_style.css">
<script type="text/javascript" src="js/beer.js"></script>

<div class ="information-wrapper">
      <div id="information">
          <h1>Your Beer Guide</h1>
        <h3>Beer is the world's most widely consumed and probably the oldest alcoholic beverage;
          it is the third most popular drink overall, after water and tea. And is of course my favorite drink </h3>
         <a class="link" id="scroll" href="#whatis">Learn More</a>
      </div>
    </div>

    <div id="whatis">
      <h1>What is beer anyway ?</h1>
    <hr>
      <div id="paragraph">
        <h3>Beer is an alcoholic drink brewed mainly from malted barley, hops, yeast and water although other sources of fermentable carbohydrate (eg. maize, wheat, rice) and other natural ingredients may be added to create different styles and flavours.</h3>
      </div>
    </div>

    <div class="container" id="serving">
      <h1>How To Serve a Beer</h1>
    <hr>

    <div class="flex-container">
      <div class="item"><img alt="pilsner image" class="servingimage" src="img/servings/pilsner.png" > </div>
      <div class="item"> <img alt="mug image" class="servingimage" src="img/servings/mugs.png" > </div>
      <div class="item"> <img alt="stemmed image" class="servingimage" src="img/servings/stemmed.png" > </div>
    <div class="item"> <img alt="pint image" class="servingimage" src="img/servings/pints.png"> </div>
  </div>

</div>

  <section class="facts">
    <h2>Press to display random bottle</h2>
    <div class="btn" >Press me</div>
    <div id="image-holder">
      <img class="halfsize" alt="image of random beer" id="random-beer" src="img/beers/beer1.png">
    </div>
  </section>

  </body>
