<link rel="stylesheet" type="text/css" href="css/film_style.css">
<script src="/JS/film.js"></script>

<div class="image-display-wrapper">

    <div class="image-display">
        <div class="current-image-container">
            <img class="current-image" src="img/films/avengers.jpg">
            <img class="current-image" src="img/films/dark_knight.jpg">
            <img class="current-image" src="img/films/inception.jpg">
            <img class="current-image" src="img/films/private_ryan.jpg">
            <img class="current-image" src="img/films/star_wars.jpg">
        </div>
        <div class="current-image-text-container">
            <h3 class="current-image-text">Avengers asdasdasd</h3>
            <h3 class="current-image-text">Dark knight asdsaddsa</h3>
            <h3 class="current-image-text">Inception asdasdsad</h3>
            <h3 class="current-image-text">Saving private Ryan asdsaddsa</h3>
            <h3 class="current-image-text">Star Wars wubwubwub</h3>
        </div>
    </div>

    <div class="images-container">
        <img class="image" src="img/films/avengers.jpg" onclick="currentImage(1)">
        <img class="image" src="img/films/dark_knight.jpg" onclick="currentImage(2)">
        <img class="image" src="img/films/inception.jpg" onclick="currentImage(3)">
        <img class="image" src="img/films/private_ryan.jpg" onclick="currentImage(4)">
        <img class="image" src="img/films/star_wars.jpg" onclick="currentImage(5)">
    </div>
</div>