<footer>

<div class="follow_us">
    <a href="#"> <img class="social_images" src="img/social/facebook.png" alt="twitter logo"> </a>
    &nbsp;
    <a href="#"><img class="social_images" src="img/social/insta.png" alt="twitter logo"></a>
    &nbsp;
    <a href="#"><img class="social_images" src="img/social/twitter.png" alt="twitter logo"></a>
</div>

<div id ="phrase_div">

&copy; 2016 Web Development / Created by group 7
</div>

</footer>
