<header class="header">
   <h1>Website for the Grateful</h1>
   <nav class="navbar">
      <ul class="flex-container">
         <li class="flex-item"><a>Internet</a></li>
         <li class="flex-item"><a>Beer</a></li>
         <li class="flex-item"><a>Film</a></li>
         <li class="flex-item"><a>Sushi</a></li>
         <li class="flex-item"><a>Art</a></li>
         <li class="flex-item"><a>Dinnerselector</a></li>
         <li class="flex-item"><a>Documentation</a></li>
      </ul>
   </nav>
</header>
