<header class="header">
   <nav class="navbar">
      <ul class="nav-container">
         <li class="flex-item" style="border-left: 0px"><a href="/">Home</a></li>
         <li class="flex-item"><a href="/internet">Internet</a></li>
         <li class="flex-item"><a href="/beer">Beer</a></li>
         <li class="flex-item"><a href="#">Film</a></li>
         <li class="flex-item"><a>Sushi</a></li>
         <li class="flex-item"><a>Art</a></li>
         <li class="flex-item"><a href="/dinner">Dinnerselector</a></li>
         <li class="flex-item"><a href="/doc">Documentation</a></li>
      </ul>
   </nav>
</header>
