<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>hei</title>


<!-- FIXME fix import path
<link rel="stylesheet" type="text/css" href="/CSS/style.css"> -->

<style>

    /*------------- TABLE OF CONTENTS ------------------ */
    /*--------- CH1 GENERIC ---------*/
    /*--------- CH2 HEADER ---------*/
    /*--------- CH3 NAVIGATION ---------*/
    /*--------- CH4 MAIN ---------*/
    /*--------- CH5 FOOTER ---------*/



    /*--------------- CH1 GENERIC --------*/
    body{
        margin:0;
    }

    .wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

        font-weight: bold;
        text-align: center;
    }

    .wrapper > * {
        padding: 10px;
        flex: 1 100%;
    }

    /*--------------- CH2 HEADER --------*/
    .header {
        background: tomato;
    }


    /*--------------- CH3 NAVIGATION --------*/

    .flex-container {
        display: flex;
        background-color: lightgrey;
        text-align: center;
        justify-content: center;
        padding:0;
        flex-wrap: wrap;
    }


    .flex-item {
        background-color: cornflowerblue;
        width: 5%;
        padding: 2em;
        background-color: red;
        list-style: none;

    }
    .flex-item:hover{
        background-color: darkred;
    }


    /*--------------- CH4 MAIN --------*/

    main {
        text-align: left;
        background: deepskyblue;
    }



    /*--------------- CH5 FOOTER --------*/

    .footer {
        background: lightgreen;
    }




</style>
