<script src="/JS/internetPage.js"></script>
<div>
    <article id="mainArticle" class="article1">
        <header>
            <h2>Internet goes down</h2>
            <p>People in a state of panic</p>
        </header>
        <img src="../images/internet.jpg" alt="InternetImage">
        <p>
            We are currently experiencing loss of internet in our collective resulting
            in wide spread panic. It has been made apparent to us how dependent we have become to
            regular access to the internet.
            We have not only become dependent on it but also started to take it for granted and it is only in
            these terrible times when we realise just how much we care about the internet.
            Some would say we have lost sight of what really matters in life and have firewalled us in our homes
            leaving our IP address as our only link to the outside world.
            I say fuck those guys,the internet is awesome and i refuse to give it up in order to interact with
            "real" people.

        </p>
    </article>
    <article id="secondaryArticle" class="article1">
        <header>
            <h2>Research shows stuff about internet</h2>
            <p>Do people enjoy the internet?</p>
        </header>
        <img src="../images/piechart.jpg" width="300" height="200" alt="InternetPieChart">
        <p>
            New studies find that people who use the internet mainly enjoy using the internet.
            We have no source control regarding this story but it seems pretty straight forward and makes
            complete sense to us so we will report it as if it is a fact.
            Also we didn't have any charts directly related to this story so we just found one online on google images.
            The report which may or may not exist stated clearly that 73.95% of all statistic found online are completely
            made up.
            We will report further on this as we`re making it up.

        </p>
    </article>
<div id="ajaxtest" class="ajaxtest"> This is defined in our static html file!</div>


</div>
