<script type="text/javascript" src="js/sushi.js"></script>
<link rel="stylesheet" type="text/css" href="css/sushi.css">

<div id="wrapper">
<div id="sushi-top">
    <h1>This is a page about SUSHI</h1>
</div>

<div id="sushi-main" >
    <p id="caption">If you don't know what sushi is, here is a picture.<p>
    <img id="image-sushi" src="img/sushi/s1.jpg" alt="Sorry about that.." height="350" width="600" align="center">
    <button id="sushibutton" onclick="changeImage()">Click me to see more..  </button>
</div>
</div>



