<script type="text/javascript" src="js/sushi.js"></script>

<div class="section1">
    <h1>This is a page about SUSHI</h1>
</div>

<div id="sushi-main" class="section3">
    <p>If you dont't know what shushi is, here is a picture.<p>
    <img id="image-sushi" src="img/sushi/s1.jpg" alt="Sorry about that.." height="350" width="600" align="center">
    <button id="sushibutton" onclick="changeImage()">Click me to see more..  </button>
</div>




