

<header>
    <h1>My page about SUSHI</h1>
</header>

<section id="sushi-section">
    <img id="image-sushi" src="s1.jpg" alt="Sorry about that.." height="350" width="600">
    <div class="caption">If you dont't know what shushi is, here is a picture.</div>
    <button id="sushibutton" onclick="changeImage()">Click me to see more..  </button>
</section>




