<!DOCTYPE html>
<html lang="en">
  <head> <% include partials/head.ejs %> </head>
  <body>
  <div class="wrapper">
    <% include partials/header.ejs%>

    <h2> You are here "<%= route %>" </h2>

    <main>


      <section id="dinner-list-section">
        <h2>Your dinner list</h2>
        <p>Add a dish to your dinner options.</p>
        <form>
          <label>Dinner:</label>
          <input type="text" id="name" name="name" title="name">
          <button id="add-dinner" type="button">Add</button>
        </form>
        <p>Your dinners:</p>
        <ul id="dinner-list">
          <li>Taco</li>
          <li>Pizza</li>
          <li>Hamburger</li>
        </ul>
      </section>
      s
      <section id="dinner-getting-section" class="hidden">
        <h2>Get a random dinner</h2>
        <button id="get-dinner">Get random dinner</button>
        <output id="dinner-result"></output>
      </section>



    </main>

    <% include partials/footer.ejs%>
  </div>
  </body>
</html>
